.log-in {
  max-width: 1530px;
  margin-top: 65px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 460px;
  }

  &__header {
    display: none;
  }

  &__password {
    margin-top: 29px;
  }

  &__email, &__password {
    display: flex;
    flex-direction: column;
  }

  &__email-title, &__password-title {
    font-size: 12px;
    color: rgba(0,0,0,0.8);
  }

  &__email-text, &__password-text {
    color: #000000;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #000000;
  }

  &__email-text:focus, &__password-text:focus {
    outline: none;
  }

  &__password-block {
    position: relative;
  }

  &__password-show {
    border: none;
    background-color: #ffffff;
    color: #2b87dc;
    position: absolute;
    right: 0;
    padding: 7px 0;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.2;
    }

    &:focus {
      outline: none;
    }
  }

  &__price {
    margin-top: 26px;
    font-size: 18px;
    font-weight: 600;
  }

  &__btn-container {
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }

  &__continue-btn {
    border: none;
    background-color: #2b87dc;
    border-radius: 9999px;
    color: #ffffff;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.9;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;


  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    z-index: 99999;

    p {
      font-size: 20px;
    }
  }

  &__close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}