footer.footer
  .footer-container
    nav.footer__menu
      ul.footer__menu-items
        li.footer__menu-item
          a(href="#")
            span Home
        li.footer__menu-item
          a(href="#")
            span FAQ
        li.footer__menu-item
          a(href="#")
            span Contact Us
        li.footer__menu-item
          a(href="#")
            span Terms of Service
        li.footer__menu-item
          a(href="#")
            span Privacy Policy