input(type="checkbox" hidden)#order-toggle
section.order
  label(for="order-toggle" onclick).order__toggle
    img(src="img/basket.svg" alt="basket")
  h2.order__header Your order
  h3.order__name Digital Access
  p.order__description Unlimited access to website, and the smartphone and tablet apps.
  p.order__price $0.99
  p.order__info Sales tax may apply.
  p.order__total Total: $0.99