section.registration
  .registration-container
    h2.registration__title Create an account
    p.registration__subtitle Already have an account? #[b LOG IN]
    .registration__links
      .registration__link-container
        a(href="#").registration__link.registration__link--facebook
          span FACEBOOK
          .registration__img-container
            img(src="img/facebook.svg" alt="facebook")
      .registration__link-container
        a(href="#").registration__link.registration__link--google
          span GOOGLE
          .registration__img-container
            img(src="img/google.svg" alt="google")