section.stepper
  h2.stepper__header steps
  .stepper-container
    img(src="img/marker.svg" alt="marker").stepper__step-marker.stepper__step-marker--active
    .stepper__steps
      .stepper__step.stepper__step--active 
        .stepper__step-line.stepper__step-line--active
        p Create an account
      .stepper__step.stepper__step--next 
        .stepper__step-line
        p Billing address
      .stepper__step
        .stepper__step-line
        p Payment